* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: rem(40);
}

h2 {
    font-size: rem(30);
    font-weight: 700;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: Raleway;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
}

p {
    
    line-height: rem(19);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}


.main-form {
    &_column {
        display: flex;
        .main-form__input {
            margin: 0 18px 0 0;
        }
    }

    &__item {
        max-width: 288px;
        padding: 18px 10px;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        font-size: rem(19);
        line-height: rem(23);
    }

    &__input {
        margin-bottom: 15px;
        border: 2px dashed $blue;
        transition: .3s;
        &:focus {
            outline: none;
            border-color: gray;
        }
    }

    &__btn {
        border: none;
        border: 2px solid transparent;
        transition: .3s;
        &:hover {
            border-color: $blue;
        }
    }
}

.map-container {
    width: 100%;
    height: 100%;
    iframe {
        width: 100%;
        height: 100%;
    }
}